<div class="body-y-margin container w-75">
  <p class="notice"><%= notice %></p>
  <h1 class="fw-bold">Listing Blogs</h1>
  <div id="new-blog-link">
    <p class="links-style"><%= link_to '新規ブログ作成', new_blog_path %></p>
  </div>
  <div class="row row-cols-2">
    <% @blogs.each do |blog| %>
      <%= render blog %>
      <p class="show-btn"><%= link_to 'Show', blog, class: 'btn btn-primary' %></p>
    <% end %>
    </div>
</div>
