<p style="color: green"><%= notice %></p>

<h1>Listing Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
  <% end %>
</div>

<%# <%= link_to "New blog", new_blog_path %> %>
<%= link_to "お問い合わせ", new_contact_path, class: 'btn btn-default' %>
