<div class="blog-panel">
  <div class="d-flex align-items-baseline border-bottom border-dark">
    <h2 class="fw-bolder"><%= favorite.title %></h2>
    <p class="ms-3"><%= favorite.updated_at %></p>
  </div>
  <div class="blogs-content-box">
    <p class="blogs-content"><%= favorite.content %></p>
  </div>
</div>