<div class="body-y-margin container w-50">
  <h1 class="text-center">Editing comment</h1>
  <%= render "form", comment: @comment %>
  <div class="w-50 lh-lg">
    <p class="links-style d-inline"><%= link_to "Show this blog", @blog %> |</p>
    <p class="links-style d-inline"><%= link_to "Back to blogs", blogs_path %></p>
  </div>
</div>
