<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name %>様、お問い合わせありがとうございます</h1>
    <div>
      <p>お問い合わせ内容の確認</p>
      <p>カテゴリー</p>
      <p><%= @contact.category %></p>
      <p>内容</p>
      <p><%= @contact.content %></p>
    </div>
  </body>
</html>
