<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name %>様、お問い合わせありがとうございます</h1>
    <div>
      <p>お問い合わせ内容の確認</p>
      <ul>
        <li>カテゴリー:</li>
        <p><%= @contact.category %></p>
        <li>内容</li>
        <p><%= @contact.content %></p>
      </ul>
    </div>
  </body>
</html>