 <div class="container w-50 header-h">

  <div class="my_prof text-center">
    <div class="">
      <p class="hiragana">ふくしとうま</p>
      <h2 class="prof-title">福士斗真</h2>
      <p class="">PE/DEV</p>
    </div>
    <div class="w-50 d-inline-block my-5">
      <%= image_tag "touma_fukushi.jpg", alt:"福士斗真の画像", class:"rounded w-100"%>
    </div>
  </div>


  <div class="mb-5">
    <h2 class="title ">現在の職業</h2>
    <p>デザイン専門学生 / 駆け出しエンジニア</p>
  </div>

  <div class="mb-5">
    <h2 class="title ">好きなこと</h2>
    <p>#映画 #アニメ #アイデアを考えること #ファッション #アニソン...宇多田ヒカル,Aimer</p>
  </div>


  <div class="mb-5">
    <h2 class="title ">SUPER STUDIOをどこで知ったのか</h2>
    <p>Wantedlyのスカウトメールにて</p>
  </div>

  <div class="mb-5">
    <h2 class="title ">なぜプログラミングをしようと思ったのか</h2>
    <p>大学の研究でpythonを用いたシミュレーションプログラムを作って研究を進めていたことがきっかけで興味を持ちました</p>
  </div>

  <div class="mb-5">
    <h2 class="title ">プログラミングを通してどんなところを目指すのか</h2>
    <p>面白いサービスを世の中に出していきたい。面白いと思ってもらえる世の中にしていきたい。<br>僕の中ではプログラミングは、「やっていて楽しいこと」でもあり、自分のアイデアや周りが出してくれた面白いアイデアを形にする手段です。</p>
  </div>

  <div class="mb-5">
    <h2 class="title">1年後の姿（1年後、自分はこうなっている!</h2>
    <p>バックエンドが楽しい!という状態まで持っていきたい。とりあえずRailsオタクレベルになりたい</p>
  </div>
 </div>
