 <div class="my_prof">
        <h1 class="name">福士斗真 / ふくしとうま</h1>
        <h2>所属 : PE/DEV</h2>
        <%= image_tag "touma_fukushi.jpg", size:'800x600', alt:"福士斗真の画像", class:"rounded"%>
      </div>


      <div class="detail">
        <h2 class="my_profession">現在の職業</h2>
        <ul>
          <li>デザイン専門学生</li>
          <li>日系大手アパレル販売員</li>
        </ul>

        <h2 class="like">好きなこと</h2>
        <ul>
          <li>映画 / アニメ</li>
          <li>クリエイティブな活動</li>
          <li>ファッション</li>
          <li>アニソン...宇多田ヒカル,Aimer</li>
        </ul>
      </div>

      <div class="super_studio_info">
        <div>
          <h2>SUPER STUDIOをどこで知ったのか</h2>
          <p>Wantedlyのスカウトメールにて</p>
        </div>

        <div>
          <h2>なぜプログラミングをしようと思ったのか</h2>
          <p>大学の研究でpythonを用いたシミュレーションプログラムを作って<br>研究を進めていたことがきっかけで興味を持ちました</p>
        </div>

        <div>
          <h2>プログラミングを通してどんなところを目指すのか</h2>
          <p>面白いサービスを世の中に出していきたい。面白いと思ってもらえる世の中にしていきたい。<br>僕の中ではプログラミングは、「やっていて楽しいこと」でもあり、自分のアイデアや周りが出してくれた面白いアイデアを形にする手段です。</p>
        </div>

        <div>
          <h2>1年後の姿（1年後、自分はこうなっている!</h2>
          <p>バックエンドが楽しい!という状態まで持っていきたい。とりあえずRailsオタクレベルになりたい</p>
        </div>

      </div>