 <div class="my_prof text-center">
   <h1 class="name">福士斗真 / ふくしとうま</h1>
   <h2>所属 : PE/DEV</h2>
   <div class="w-25 d-inline-block my-5">
     <%= image_tag "touma_fukushi.jpg", alt:"福士斗真の画像", class:"rounded w-100"%>
   </div>
  </div>


  <div class="w-50 container">
    <div class="mb-5">
      <h2 class="title border-bottom border-dark ">現在の職業</h2>
      <div class="">
        <p>デザイン専門学生</p>
        <p>駆け出しエンジニア</p>
      </div>
    </div>

    <div class="mb-5">
      <h2 class="title border-bottom border-dark">好きなこと</h2>
      <div>
        <p>#映画 #アニメ</p>
        <p>#アイデアを考えること</p>
        <p>#ファッション</p>
        <p>#アニソン...宇多田ヒカル,Aimer</p>
      </div>
    </div>
  </div>

<div class="super_studio_info w-50 container">
  <div class="mb-5">
    <h2 class="title border-bottom border-dark">SUPER STUDIOをどこで知ったのか</h2>
    <p>Wantedlyのスカウトメールにて</p>
  </div>

  <div class="mb-5">
    <h2 class="title border-bottom border-dark">なぜプログラミングをしようと思ったのか</h2>
    <p>大学の研究でpythonを用いたシミュレーションプログラムを作って<br>研究を進めていたことがきっかけで興味を持ちました</p>
  </div>

  <div class="mb-5">
    <h2 class="title border-bottom border-dark">プログラミングを通してどんなところを目指すのか</h2>
    <p>面白いサービスを世の中に出していきたい。面白いと思ってもらえる世の中にしていきたい。<br>僕の中ではプログラミングは、「やっていて楽しいこと」でもあり、自分のアイデアや周りが出してくれた面白いアイデアを形にする手段です。</p>
  </div>

  <div class="mb-5">
    <h2 class="title border-bottom border-dark">1年後の姿（1年後、自分はこうなっている!</h2>
    <p>バックエンドが楽しい!という状態まで持っていきたい。とりあえずRailsオタクレベルになりたい</p>
  </div>
</div>