div.blog-panel {
  width: 40%;
  margin: 20px 0;
}

.blogs-content {
  font-size: 1.2rem;
}

.blogs-content-box {
  margin: 20px 0 40px 0;
}

#new-blog-link {
  position: fixed;
  top: 17%;
  right: 5%;
}

p.show-btn {
  width:50px;
  height: 50px;
}