div.blog-panel {
  width: 90%;
  margin-top: 40px;
}

.blogs-content {
  font-size: 1.2rem;
}

.blogs-content-box {
  margin-top: 20px;
}

#new-blog-link {
  position: fixed;
  top: 17%;
  right: 5%;
}

.show-btn {
  width: 90%;
}
